<div class="container m-5">

  <div class="m-5">
    <h2>Explore all shops</h2>
  </div>

  <% @shops.each do |shop| %>
    <%= link_to shop_path(shop), class:"card-links" do %>
    <div class="card-trip m-5">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <%#= cl_image_tag shop.photo.key %>
      <div class="card-trip-infos">
        <div>
          <h2><%= shop.name %></h2>
          <p><%=  shop.description%> </p>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>

  <div id="map" style="width: 100%; height: 600px;" data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <% if policy(Shop).create? %>
    <%= link_to 'New Shop', new_shop_path, class:"btn btn-outline-warning" %>
  <% end %>

</div>
