<div class="container m-5">

  <div class="m-3">
    <h2>Explore all shops</h2>
  </div>

  <!-- <div class="wrapper"> -->

    <div class="cards" style="margin-bottom: 3em">
      <% @shops.each do |shop| %>
        <%= link_to shop_path(shop), class:"card-links" do %>

          <div class=" card card-category" data-shop-id="<%= shop.id %>">
            <% if shop.photo.attached? %>
              <%= cl_image_tag shop.photo.key, :style => "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))" %>
            <% else %>
              <img src="https://images.unsplash.com/photo-1534452203293-494d7ddbf7e0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80"
              style ="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))"/>
            <% end %>

            <div class="shop-info">
              <div>
                <h2><%= shop.name %></h2>
                <p><%=  shop.address%> </p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div id="map" style="width: 100%; height: 600px;" data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  <!-- </div> -->

  <% if policy(Shop).create? %>
    <%= link_to 'New Shop', new_shop_path, class:"btn btn-outline-warning" %>
  <% end %>

</div>
