<div class="container" style="margin-top: 5em; margin-bottom: 5em">

  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">

      <h3>
        <%= @shop.name %>
      </h3>

      <p class="border-bottom mb-3">
        <%= @shop.description %>
      </p>

      <p class="border-bottom mt-3">
        <strong>Address:</strong>
        <%= @shop.address %>
      </p>

      <p class="border-bottom">
        <strong>Opening hours:</strong>
        <%= @shop.availability %>
      </p>

      <p class="border-bottom">
        <strong>Phone number:</strong>
        <%= @shop.phone_number %>
      </p>

      <!-- <p>
        <strong>Category:</strong>
        <%= @shop.category %>
      </p> -->

      <p class="border-bottom">
        <strong>Capacity:</strong>
        <%= @shop.capacity %>
      </p>
    </div>
  </div>


  <div class="map-and-form d-flex">
    <div class="d-flex w-100">
      <div class="booking-form mb-5 <%= "d-none" if @shop.user == current_user  %>">
        <%= render "shared/shop_booking" %>
      </div>

      <div class="shop-show-map mb-5">
        <%= render "shared/shop_map" %>
      </div>
    </div>
  </div>


    <% if policy(@shop).edit? %>
      <%= link_to 'Edit', edit_shop_path(@shop), class: "btn btn-outline-warning" %>
    <% end %>

  <%= link_to 'Back', shops_path, class: "btn btn-outline-warning" %>

</div>
